{% extends 'ecommerce_app/main.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
            <form id="form"  method="post" class="needs-validation">
            {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <!-- <input required class="form-control" type="text" name="name" placeholder="Name.."> -->
                        <label for="id_name" >Name</label>
                            {{ form.name }}
                    </div>
                    <div class="form-field">
                        <label for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <label for="id_address">Address</label>
                        {{ form.address }}
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <label for="id_postal_code">Postal Code</label>
                        {{ form.postal_code }}
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
		</div>
		
	</div>
</div>
<!-- <div class="container">
    <div class="row">
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <form action="" method="post" class="needs-validation">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name</label>
                {{ form.name }}
                <div class="invalid-feedback">
                    Please provide your name.
                </div>
            </div>
            <div class="form-group">
                <label for="id_email">Email</label>
                {{ form.email }}
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>
            <div class="form-group">
                <label for="id_phone_number">Phone Number</label>
                {{ form.phone_number }}
                <div class="invalid-feedback">
                    Please provide a valid phone number.
                </div>
            </div>
            <div class="form-group">
                <label for="id_postal_code">Postal Code</label>
                {{ form.postal_code }}
                <div class="invalid-feedback">
                    Please provide a valid postal code.
                </div>
            </div>
            <div class="form-group">
                <label for="id_address">Address</label>
                {{ form.address }}
                <div class="invalid-feedback">
                    Please provide your address.
                </div>
            </div>
            <div class="form-group">
                <label for="id_country">Country</label>
                {{ form.country }}
                <div class="invalid-feedback">
                    Please select your country.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div> -->
{% endblock %}
